@import "./node_modules/bootstrap-less/bootstrap/index.less"; // ** BOOTSTRAP OVERRIDES ** //
// ************************* //
@import 'variable/index.less';
@import 'helper/index.less';
// **************** //
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -3em;
}
.page-wrap:after {
  content: "";
  display: block;
}

.footer, .page-wrap:after {
  height: 5em;
}

.footer {
  display: table;
  vertical-align: middle;
  width:100%;
  background: #ccc;
  .footer-content {
    display: table-cell;
    vertical-align:middle;
  }
}

.main-container {
  max-width: 95%;
  @media (min-width: @screen-md) {
    max-width: 70vw;
  }
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 2em;
}

.donneur-name {
  display: inline-block;
  width: 100%;
  font-size: 1em;
  padding: 0.5em 1em;
  margin-bottom:0.5em;
  em {
    display: inline-block;
  }
}

.revoke-form {
  display: inline-block;
}

.revoke-button {
  display: inline-block;
  vertical-align: middle;
}

.form-group-donneur {
  display: block;
  height: auto;
}

.donneur-person-type-natural {
  font-style: italic !important;
}

.donneur-person-type-legal {
  font-weight: bold !important;
}
