<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{page_title}}</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/procurations/img/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon-precomposed" href="/procurations/img/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="/procurations/img/favicon.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/procurations/img/android-chrome-192x192.png" sizes="192x192"/>
    <link rel="stylesheet" href="/procurations/bundle/bundle.css?v={{version}}"/>
    <script src="/procurations/bundle/bundle.js?v={{version}}" defer="defer">></script>
    <!-- Source de ce logiciel libre : https://framagit.org/aful/procuration -->
  </head>
  <body>
    <div class="page-wrap">
      {% block content %}
      {% endblock %}
    </div>
    <footer class="footer text-center">
      <div class="footer-content">
        <strong>Source de ce logiciel libre : <a target="_blank" href="https://framagit.org/aful/procuration">https://framagit.org/aful/procuration</a></strong>
      </div>
    </footer>
  </body>
</html>
