{% macro pluralize(singular, plural, plural_condition) %}{% if plural_condition %}{{plural}}{% else %}{{singular}}{% endif %}{% endmacro %}


{% macro procuration_give_form(procuration_id) %}
<form action="/procurations/{{procuration_id}}" method="post">
  <div class="foldable">
    {% if procuration_id != undefined %}
    <div>
      <input type="hidden" name="_method" value="put"/>
    </div>
    {% endif %}
    {% if procuration_id == undefined %}
    <div class="form-group">
      <label for="beneficiaire_full_name">Nom complet du bénéficiaire (Pierre
      Durand, membre désigné par le conseil d’administration, etc.)</label>
      <input type="text" name="beneficiaire_full_name" id="beneficiaire_full_name"
             class="form-control" required="required"
             placeholder="Pierre Durand" list="beneficiaires_default"/>
      <datalist id="beneficiaires_default">
        <option value="membre désigné par le conseil d’administration">
      </datalist>
    </div>
    {% endif %}
    <div class="form-group-donneur">
      <div class="form-group">
        <label for="donneur_full_name">Nom complet du donneur (Superlibrum, Jean Dupont, etc.)</label>
        <input type="text" name="donneur_full_name" id="donneur_full_name"
               class="form-control" required="required" placeholder="Jean Dupont"/>
      </div>
      <div class="form-group">
        <label for="donneur_email">Adresse courriel du donneur</label>
        <input type="email" name="donneur_email" id="donneur_email"
               class="form-control" required="required" placeholder="jean.dupont@aful.org"/>
      </div>
      <div class="form-group">
        Type de personne du donneur<br/>
        <input type="radio" name="donneur_person_type"
               id="{{procuration_id}}donneur_person_type_natural" value="1" checked="checked"/>
        <label for="{{procuration_id}}donneur_person_type_natural">Personne physique</label>
        <input type="radio" name="donneur_person_type"
               id="{{procuration_id}}donneur_person_type_legal" value="2"/>
        <label for="{{procuration_id}}donneur_person_type_legal">Personne légale</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success fold-trigger">
      Donner procuration
    </button>
  </div>
</form>
{% endmacro %}


{% macro procuration_revoke_form(procuration_id, donneur_id) %}
<form action="/procurations/{{procuration_id}}" method="post" class="revoke-form">
    <input type="hidden" name="_method" value="put"/>
    <input type="hidden" name="revoke_donneur_id" value="{{donneur_id}}"/>
    <button type="submit" class="btn btn-danger revoke-button">
      <strong>x</strong>
    </button>
</form>
{% endmacro %}


{% macro donneur_display(donneur, donneur_id, procuration_id) %}
<div class="text-right">

  <div class="col-xs-10 no-padding-right text-center">
    <span class="donneur-name bg-success
                 {{'donneur-person-type-natural' if donneur.person_type == 1 else 'donneur-person-type-legal' }}
                 ">
      {{donneur.full_name}}
    {% if donneur.person_type == 2 %}
    <em class="small">(personne morale)</em>
    {% endif %}
    </span>
  </div>

  <div class="col-xs-2 no-padding text-right">
    {{procuration_revoke_form(procuration_id, donneur_id)}}
  </div>

</div>
{% endmacro %}
