{% extends "layout.njk" %}

{% from "macros.njk" import pluralize %}
{% from "macros.njk" import procuration_give_form %}
{% from "macros.njk" import procuration_revoke_form %}
{% from "macros.njk" import donneur_display %}

{% block content %}

  <div class="container-fluid main-container">
    <div class="row">

      <div class="col-md-4 col-md-push-8 margin-top-3">
        <div class="well margin-bottom">
          <h3 class="margin-bottom">Donner procuration pour un bénéficiaire non-listé</h3>
          {{procuration_give_form()}}
        </div>
      </div>

      <div class="col-md-8 col-md-pull-4">
      <h1 class="margin-top">{{page_title}}</h1>

      {% for message in messages %} {# through flash #}
      <div class="msg msg-{{message.type}}">
        {{message.message}}
      </div>
      {% endfor %}
      <div class="well">
        <p>Si vous ne pouvez ou ne voulez pas participer au vote, vous pouvez
          donner votre procuration à un autre membre.
        </p>
        <p>Cette application n’effectue aucune vérification d’identité, aucune
          identification. Elle se base uniquement sur la vérification par tous
          les membres des informations publiquement affichées.
        </p>
        <strong>Limitation statutaire de cumul de procurations :</strong>

        {{PROCURATION_NATURAL_PERSON_MAX_COUNT}}
        {{pluralize('personne physique', 'personnes physiques',
        PROCURATION_NATURAL_PERSON_MAX_COUNT > 1)}},

        {{PROCURATION_LEGAL_PERSON_MAX_COUNT}}
        {{pluralize('personne morale', 'personnes morales',
        PROCURATION_LEGAL_PERSON_MAX_COUNT > 1)}}.
      </div>
      <hr />
      {% if procurations %}
      <div class="table-responsive">
        <table id="beneficiaires-table" class="table table-bordered">
          <thead>
            <tr>
              <th>
                Bénéficiaires (personnes qui ont reçu des procurations)
              </th>
              <th class="text-right">
                Donneurs (personnes qui ont donné leur procuration)
              </th>
            </tr>
          </thead>
          <tbody>
            {% for procuration_id, procuration in procurations %}
              <tr>
                <td>
                  <div>
                    <h4 class="no-margin">{{procuration.beneficiaire.full_name}}</h4>
                  </div>

                  <div class="row margin-top-2">
                    <div class="col-xs-12">{{procuration_give_form(procuration_id)}}</div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <h4 class="col-xs-12 no-margin">{{procuration.donneurs | length}}
                    {{pluralize('procuration', 'procurations',
                    procuration.donneurs | length > 1)}} :</h4>
                  </div>

                  <div class="row margin-top-2">
                    {% for donneur_id, donneur in procuration.donneurs %}
                      {{donneur_display(donneur, donneur_id, procuration_id)}}
                    {% endfor %}
                  </div>

                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <div>
        Aucune procuration enregistrée pour l’instant
      </div>
      {% endif %}

    </div>

  </div>
</div>
{% endblock %}
