.no-margin {
  margin: 0;
}

.margin-top {
  margin-top: 1em;
}

.margin-bottom {
  margin-bottom: 1em;
}

.margin-top-2 {
  margin-top: 2em;
}

.margin-bottom-2 {
  margin-bottom: 2em;
}

.margin-top-3 {
  margin-top: 3em;
}

.margin-bottom-3 {
  margin-bottom: 3em;
}

.margin-top-4 {
  margin-top: 4em;
}

.margin-bottom-4 {
  margin-bottom: 4em;
}

.no-padding {
  padding: 0;
}

.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}

.msg-type(@color, @percent: 40%, @padding: 1em, @margin: 0 0 2em 0) {
  border: 0.3em solid lighten(@color, @percent/3);
  background-color: lighten(@color, @percent);
  color: @color;
  padding: @padding;
  margin: @margin;
  word-wrap: break-word;

  p {
    line-height: 1.4em;
  }
}

.msg-error {
  .msg-type(@error-color);
}

.msg-success {
  .msg-type(@success-color,65%);
}
